{{ outlet }}
<div class="container">
  <div class="grid">
    <div class="grid__left full-width">
      <div class="card">
        <div class="card__head">Edit: {{ model.name }}</div>

        {{#simple-form class="new-input__box" startingValues=model onsubmit=(action "saveForm") as | formValues |}}
          <div class="new-input__border">

            <div class="new-input__input">
              <div class="new-input__title">Name</div>
              {{input class="new-input" type="text" required=true value=formValues.name}}
            </div>

            <div class="new-input__title">Price</div>
            <div class="new-input__input price">
              <button class="button__box--btn price-btn" type="button" name="button">$</button> {{input class="new-input price-input" type="text" required=true value=formValues.price}}
            </div>

            <div class="new-input__input">
              <div class="new-input__title">Description</div>
              {{input class="new-input" type="text" value=formValues.description}}
            </div>
          </div>
          <div class="button__box">
            {{#link-to "admin.category.index" class="button__box--btn" }}Back{{/link-to}}
            <button class="button__box--btn" type="submit" name="button">Submit</button>
          </div>
        {{/simple-form}}

      </div>
    </div>
  </div>
</div>
