{{outlet}}
<div class="container">
  <div class="grid">
    <div class="grid__left full-width">
      <h2 class="card__title">{{ model.name }}</h2>
      <div class="card">

        <div class="admin__cat-form">
          <button class="button-delete" {{action "destroyRecord" model}}>Delete</button>
          {{#link-to "admin.category.new-item" model.id class="admin__cat-btn" }}Add New Menu Item{{/link-to}}
        </div>

        <div class="card__item">
          <div class="admin__title">Name</div>
          {{#each model.menuItems as |x|}}

            <div class="admin__result">
              <h2 class="admin__result--title">{{ x.name }}</h2>
              <div class="admin__result--link">
                {{log x.id}}
                {{#link-to "admin.item.edit" x.id}}Edit{{/link-to}}
                <a href="#" {{action "destroyRecord" x}}>Delete</a>
              </div>
            </div>
          {{/each}}
        </div>


      </div>
    </div>
  </div>
</div>
