{{outlet}}
<div class="container">
  <div class="grid">
    <div class="grid__left full-width">
      <h2 class="card__title">{{ model.name }}</h2>
      <div class="card">

        <form class="admin__cat-form" {{action "saveForm" category on="submit"}}>
          {{input class="admin__cat-input" type="text" value=category}}
          <div class="admin__cat-btn">
            {{#link-to "admin.category.new-item" model.id}}Add New{{/link-to}}
          </div>
        </form>

        <div class="card__item">
          <div class="admin__title">Name</div>
          {{#each model.menuItems as |x|}}

            <div class="admin__result">
              <h2 class="admin__result--title">{{ x.name }}</h2>
              <div class="admin__result--link">
                {{#link-to "admin.category.detail" model.id}}Details{{/link-to}}
              </div>
            </div>
            {{/each}}
          </div>


      </div>
    </div>
  </div>
</div>
